@import url('https://fonts.googleapis.com/css?family=Inconsolata&display=swap');

/* Home CSS stylesheet */

/* ==== Header ==== */

header {
	color: rgb(255,255,255);
	height: 430px;
}

header nav {
	padding-bottom: 70px;
}

header h1 {
	font: 25px "Inconsolata";
	font-weight: bold;
	background: rgb(39,39,39);
	display: inline-block;
	padding: 7px 12px;
	margin-bottom: 2px;
}

header h2 {
	font: 25px "Inconsolata";
	font-weight: bold;
	color: rgb(15,15,15);
	background: rgb(255,255,255);
	display: inline-block;
	float: right;
	padding: 7px 12px;
	margin-bottom: 2px;
}

header .container {
	margin-top: -430px;
}


header .movement {
	height: 430px;
}

header .movement#b {
	margin-top: -430px;
}

header .movement#c {
	margin-top: -430px;
}

/* ==== Upcoming section ==== */


section.upcoming {
	padding: 50px 0;
	box-shadow: 0px 0px 21px 0px rgba(0,0,0,0.13);
}

section.upcoming h1 {
	font-size: 24px;
	font-weight: bold;
	color: rgb(178,178,178);
}

section.upcoming .workshop {
	width: 165px;
	border: 0;
	border-top: 3px solid;
	border-image: linear-gradient(to right, #61FAF9 0%, #F7E21C 100%);
	border-image-slice: 1;

	margin: 50px 50px 0 0;
	padding: 12px 0 0 0;

	display: inline-block;
	vertical-align: top;
}

section.upcoming .workshop h1 {
	font-size: 20px;
	color: rgb(33,196,143);
	letter-spacing: -0.5px;
}

section.upcoming .workshop h2 {
	font-size: 16px;
	color: rgb(59,59,59);
	padding-bottom: 10px;
}

section.upcoming .workshop h3, p {
	font-size: 13px;
	line-height: 20px;
	color: rgb(59,59,59);
}

section.upcoming .workshop p {
	padding: 20px 0 20px;
}

section.upcoming .workshop .button {
	background-color: rgb(39,198,0);
	border-color: rgb(0,131,60);
}

section.upcoming .workshop#b {
	border-image: linear-gradient(to right, #FF00A3 0%, #6B00FF 100%);
	border-image-slice: 1;
}

section.upcoming .workshop#b h1 {
	color: rgb(255,0,207);
}

section.upcoming .workshop#b .button {
	background-color: rgb(223,0,183);
	border-color: rgb(131,0,96);
}


/* Aside */

section.upcoming aside {
	width: 140px;
	float: right;
	margin-top: -60px;
}

section.upcoming aside h1 {
	font-size: 15px;
	padding-bottom: 10px;
}

section.upcoming aside section.venue {
	padding: 30px 0;
}



/* ==== What doing ==== */

section.whatdoing {
	padding: 50px 0;
	font-size: 0;
}

section.whatdoing h1{
	font-size: 19px;
	color: rgb(99,99,99);
	padding-right: 14px;
	float: left;
}

section.whatdoing .bars {
	background: url('../img/linesPink.svg');
	height: 24px;
	overflow: auto;
}

section.whatdoing .step {
	width: 299px;
	height: 211px;
	background-image: url('../img/arrowBox.svg');
	font-size: 14px;
	padding: 20px;
	position: relative;
	display: inline-block;
	vertical-align: top;

}

section.whatdoing .step img {
	margin: 25px 0 15px 25px;
	height: 40px;
	display: block;
}

section.whatdoing .step h1 {
	padding-left: 25px;
	font-weight: bold;
	float: none;
}

section.whatdoing .step p {
	width: 180px;
	font-size: 14px;
	padding-left: 25px;
	color: rgb(81,81,81);
}

section.whatdoing .step#a {
	width: 269px;
	background-image: url('../img/arrowBoxSmall.svg');

	z-index: 10;
	margin: 0 -47px 0 -20px;
}

section.whatdoing .step#a h1 {
	color: #4A90E2;
}

section.whatdoing .step#b h1 {
	color: #FB9C00;
}

section.whatdoing .step#c h1 {
	color: #D0021B;
}

section.whatdoing .step#b {
	z-index: 5;
	margin: 0 -70px 0 -20px;
	padding-left: 50px;
}

section.whatdoing .step#c {
	margin: 0 -70px 0 -20px;
	padding-left: 70px;
}


/* ==== Learn more ==== */

section.learnmore {
	padding: 50px 0 0;
	font-size: 0;
}

section.learnmore h1{
	font-size: 19px;
	color: rgb(99,99,99);
	padding-right: 14px;
	float: left;
}

section.learnmore .bars{
	background: url('../img/linesBlue.svg');
	height: 24px;
	overflow: auto;
}


section.learnmore .buttons {
	text-align: center;
	padding: 40px 0;
	word-spacing: 20px;
}

section.learnmore .buttons .button {
	word-spacing: normal;
	vertical-align: top;
	background: rgb(33,124,211);
	border-color: rgb(24,38,140);
}








/* Responsive code */

@media screen and (max-width: 670px) {

	header nav {
		padding-bottom: 25px;
	}

	header nav .container {
		margin-top: -12px;
	}

	header h1, header h2 {
		float: none;
	}

	section.upcoming aside {
		float: none;
		width: 100%;
		margin: 20px 0 0 0;
		padding-top: 20px;
		border-top: 1px solid;
	}

	section.whatdoing,section.learnmore {
		overflow: hidden;
	}

	section.whatdoing .bars,
	section.learnmore .bars {
		transform: scale(1,0.5);
	}

	section.whatdoing .step#a {
		width: 299px;
		background-image: url('../img/arrowBox.svg');
		margin-bottom: -40px;
		display: block;
	}

	section.whatdoing .step#b {
		margin-bottom: -40px;
		padding-left: 20px;
		display: block;
	}

	section.whatdoing .step#c {
		margin-bottom: -40px;
		padding-left: 20px;
		display: block;
	}


	section.learnmore .buttons .button {
		margin-bottom: 20px;
	}

}



