
/* Home CSS stylesheet */

/* ==== Header ==== */

header {
	color: rgb(255,255,255);
	height: 430px;
}

header nav {
	padding-bottom: 70px;
}

header h1 {
	font: 25px "Inconsolata";
	font-weight: bold;
	background: rgb(39,39,39);
	display: inline-block;
	padding: 7px 12px;
	margin-bottom: 2px;
}

header h2 {
	font: 25px "Inconsolata";
	font-weight: bold;
	color: rgb(15,15,15);
	background: rgb(255,255,255);
	display: inline-block;
	float: right;
	padding: 7px 12px;
	margin-bottom: 2px;
}

header .container {
	margin-top: -430px;
}


header .movement {
	height: 430px;
}

header .movement#b {
	margin-top: -430px;
}

header .movement#c {
	margin-top: -430px;
}

/* ==== Upcoming section ==== */


section.upcoming {
	padding: 50px 0;
	box-shadow: 0px 0px 21px 0px rgba(0,0,0,0.13);
}

section.upcoming h1 {
	font-size: 24px;
	font-weight: bold;
	color: rgb(178,178,178);
}

section.upcoming .workshop {
	width: 165px;
	border-top: 3px solid;
	border-image: linear-gradient(to right, #61FAF9 0%, #F7E21C 100%);
	border-image-slice: 1;

	margin: 50px 50px 0 0;
	padding: 12px 0 0 0;

	display: inline-block;
	vertical-align: top;
}

section.upcoming .workshop h1 {
	font-size: 20px;
	color: rgb(33,196,143);
	letter-spacing: -0.5px;
}

section.upcoming .workshop h2 {
	font-size: 16px;
	color: rgb(59,59,59);
	padding-bottom: 10px;
}

section.upcoming .workshop h3, p {
	font-size: 13px;
	line-height: 20px;
	color: rgb(59,59,59);
}

section.upcoming .workshop p {
	padding: 20px 0 20px;
}

section.upcoming .workshop .button {
	background-color: rgb(39,198,0);
	border-color: rgb(0,131,60);
}

section.upcoming .workshop#b {
	border-image: linear-gradient(to right, #FF00A3 0%, #6B00FF 100%);
	border-image-slice: 1;
}

section.upcoming .workshop#b h1 {
	color: rgb(255,0,207);
}

section.upcoming .workshop#b .button {
	background-color: rgb(223,0,183);
	border-color: rgb(131,0,96);
}


/* Aside */

section.upcoming aside {
	width: 140px;
	float: right;
	margin-top: -60px;
}

section.upcoming aside h1 {
	font-size: 15px;
	padding-bottom: 10px;
}

section.upcoming aside section.venue {
	padding: 30px 0;
}



/* ==== What doing ==== */

section.whatdoing {
	padding: 50px 0;
	font-size: 0;
}

section.whatdoing h1{
	display: inline-block;
	font-size: 19px;
	color: rgb(99,99,99);
}

section.whatdoing img{
	float: right;
}

section.whatdoing .step {
	width: 180px;
	display: inline-block;
	font-size: 14px;
	padding: 20px;
	vertical-align: top;
}



/* ==== Learn more ==== */

section.learnmore {
	padding: 50px 0 0;
	font-size: 0;
}

section.learnmore h1{
	display: inline-block;
	font-size: 19px;
	color: rgb(99,99,99);
}

section.learnmore img{
	float: right;
}


section.learnmore .buttons {
	text-align: center;
	padding: 40px 0;
	word-spacing: 20px;
}

section.learnmore .buttons .button {
	word-spacing: normal;
	vertical-align: top;
	background: rgb(33,124,211);
	border-color: rgb(24,38,140);
}
